<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :station_id %><br />
    <%= f.number_field :station_id %>
  </div>
  <div class="field">
    <%= f.label :departs_at %><br />
    <%= f.datetime_select :departs_at %>
  </div>
  <div class="field">
    <%= f.label :arrives_at %><br />
    <%= f.datetime_select :arrives_at %>
  </div>
  <div class="field">
    <%= f.label :platform %><br />
    <%= f.text_field :platform %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
