<p id="notice"><%= notice %></p>

<p>
  <b>Station:</b>
  <%= @service.station_id %>
</p>

<p>
  <b>Departs at:</b>
  <%= @service.departs_at %>
</p>

<p>
  <b>Arrives at:</b>
  <%= @service.arrives_at %>
</p>

<p>
  <b>Platform:</b>
  <%= @service.platform %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
